body {
  font-family: Helvetica;
  background: crimson;
  color: white;
}

form {
  width: 25em;
  margin: 1em auto;
}

form > input {
  border: none;
  font-size: 1.4em;
  padding: 6px 10px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  display: block;
  color: crimson;
}

form > button {
  padding: 6px;
  font-size: 1em;
  letter-spacing: 1.5px;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: .5em;
  margin: 1em auto;
  width: 8em;
}

h1 {
  padding: 1em;
  font-size: 3em;
  width: 13em;
  margin: 1em auto;
  letter-spacing: 4px;
}

ul {
  padding: 1em;
  padding: 20px 30px 20px 0px;
  list-style-type: none;
}
